*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  max-width: 100%;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.022em;
  max-width: 100%;
  overflow: hidden;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    position: relative;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
  background: transparent;
}

button {
  cursor: pointer;
}

textarea {
  resize: vertical;
}

.container {
  padding: 0 10px 0 10px;
  overflow-x: hidden;
}

.hero {
  background-image: url("../img/hero-bg.webp");
  color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-text-container {
  padding: 20px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  font-size: 1rem;
}

.hero-name {
  align-self: flex-end;
  color: #fdf9b4;
}

.hero-title {
  text-transform: uppercase;
  font-size: 26px;
}

.hero-icon {
  color: #fdf9b4;
}

.hero-text-left {
  display: flex;
  gap: 20px;
  text-transform: uppercase;
  font-size: 16px;
}

.hero-text-right {
  align-self: flex-end;
  max-width: 120px;
  text-transform: uppercase;
  font-size: 16px;
}

.section-icon {
  color: #fdf9b4;
  font-size: 33px;
  margin-right: 10px;
}

.section-title {
  text-transform: uppercase;
}

.section-title-aftertext {
  text-align: right;
  color: gray;
}

.section-arrow {
  color: #fdf9b4;
  font-size: 30px;
}

.services-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.services-card {
  max-width: 70%;
  padding: 20px;
  background: linear-gradient(
        rgba(255, 255, 255, 0.95), 
        rgba(197, 194, 194, 0.99),
        rgba(238, 237, 237, 0.95),
        rgba(197, 194, 194, 0.99),
        rgba(255, 255, 255, 0.95)
    ), 
    url("../img/article-bg.webp");
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.747);
    border-radius: 24px;
    padding: 30px;
    color: #000; 
    
    transition: all 0.3s ease;
  
}

.services-card-text {
  font-size: 20px;
}

.services-card-title {
  font-size: 22px;
}

.services-card-underline {
  border-bottom: 1px solid;
}

.yellow {
  color: #fdf9b4;
}

.offers {
  padding-top: 15px;
}

.offers-card {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex !important;;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.target-card {
  background-image: url(../img/target-bg.webp);
  
}

.consultation-card {
  background-image: url(../img/consultation-bg.webp);
  color: white;
}

.beaty-card {
  background-image: url(../img/beaty-bg.webp);
}

.audit-card {
  background-image: url(../img/audit-bg.webp);
  color: white;
}

.swiper {
    width: 80%;
    overflow: visible !important; 
}

.swiper-slide {
    height: 800px !important;
    border-radius: 20px;
    transition: opacity 0.5s;
    padding: 20px;
}

.swiper-buttons-container {
  position: relative;
  height: 44px;
}

.offers .swiper-button-next, 
.offers .swiper-button-prev {
    color: #fdf9b4 !important;
    background-color: grey;
    padding: 25px;
    border-radius: 15px;
}

.swiper-slide-next,
.swiper-slide-prev {
    opacity: 0.5;
}
.swiper-slide-active {
    opacity: 1;
}

.offers-card {
  font-size: 20px;
  text-transform: uppercase;
}

.offers-card-title {
  font-size: 24px;
}

.offers-card-subtitle {
  text-align: right;
}

.card-details-title {
  text-transform: none;
}

.card-details-result {
  text-align: right;
}

.contact-form {
  border-radius: 15px;
  background-color: gray;
  padding: 25px;
  max-width: 600px;
  margin: auto;
}

input {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}

button {
  width: 100%;
  text-align: center;
  margin: 10px 0 10px 0;
  background-color: #fdf9b4;
  padding: 5px;
  border-radius: 15px;
  color: black;
}
