*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased; 
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

input, button, textarea, select {
    font: inherit;
    outline: none;
    border: none;
    background: transparent;
}

button {
    cursor: pointer;
}

textarea {
    resize: vertical;
}

.container {
    padding: 0 10px 0 10px;
}

.hero-text-container {
    padding: 10px;
}

.hero {
   background-image: 
        url('../img/hero-bg.webp');
    color: white;
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover;
}